{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="login-body">

<div class="registerwarp">
  <div class="login-box">
  <h2 class="subtitle">Create Your Account</h2>
  </div>

  <form method="post" class="form-container">
    {% csrf_token %}
    {% for message in messages %}
        <div class="alert">{{ message }}</div>
    {% endfor %}

    <div class="form-group">
      <label>{{ form.username.label }}</label>
      {{ form.username }}
      {% if form.username.errors %}
        <div class="error">{{ form.username.errors }}</div>
      {% endif %}
    </div>

    <div class="form-group">
      <label>{{ form.first_name.label }}</label>
      {{ form.first_name }}
      {% if form.first_name.errors %}
        <div class="error">{{ form.first_name.errors }}</div>
      {% endif %}
    </div>

    <div class="form-group">
      <label>{{ form.last_name.label }}</label>
      {{ form.last_name }}
      {% if form.last_name.errors %}
        <div class="error">{{ form.last_name.errors }}</div>
      {% endif %}
    </div>

    <div class="form-group">
      <label>{{ form.email.label }}</label>
      {{ form.email }}
      {% if form.email.errors %}
        <div class="error">{{ form.email.errors }}</div>
      {% endif %}
    </div>

    <div class="form-group">
      <label>{{ form.password1.label }}</label>
      {{ form.password1 }}
      {% if form.password1.errors %}
        <div class="error">{{ form.password1.errors }}</div>
      {% endif %}
    </div>

    <div class="form-group">
      <label>{{ form.password2.label }}</label>
      {{ form.password2 }}
      {% if form.password2.errors %}
        <div class="error">{{ form.password2.errors }}</div>
      {% endif %}
    </div>

    <div class="form-option">
      <label class="remember-me">
        <input type="checkbox" required>
        <span>I agree to the Terms & Conditions</span>
      </label>
    </div>

    <button type="submit" class="login-btn">Register</button>

    <p class="register-text">
      Already Have an Account?
      <a href="{% url 'login' %}" class="sign-up">Login</a>
    </p>

    <div class="back-to-home">
      <a href="{% url 'home' %}">Back to Home</a>
    </div>
  </form>
</div>

</body>
</html>